

.container{
    height: 100vh;
    background-image: url(./imgs/background.jpg); 
    background-color: black;
    
}
.nav{ color: aliceblue;
    display: flex;
    justify-content: space-around;
    
}
.button{
    background-color: #e50914;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    margin: 20px;
    border-style: hidden;
    margin-left: 5px;
}
.section{
    height: 80vh ;
    
     color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
 }
 .form{
    color: aliceblue;
display: flex;
justify-content: center;
height: 40px;

 }

    
 section2{
    color: aliceblue;
    margin-top: 2px; 
    height: 60vh;
      background-color: black;
      display: flex;
     text-align: center;
     justify-content: space-between; 
    
    
}
section3{
    color: aliceblue;
    margin-top: 2px;
    height: 60vh;
    background-color: black;
    display: flex;
    text-align: center;
    justify-content: space-around; 
}
section4{
    color: aliceblue;
    margin-top: 2px;
    height: 60vh;
    background-color: black;
    display: flex;
    text-align: center;
    justify-content: center;
 
}
    section5{
        color: aliceblue;
    margin-top: 2px;
    height: 60vh;
    background-color: black;
    display: flex;
    text-align: center;
    justify-content: center;

    }
    section6{
        margin-top: 2px;
        display: flex; 
        flex-direction: column;
        align-items: center;
        color: white;
          background-color:black ;
          padding-bottom: 10px;
    }
    
    .accordion-tab{
       width: 40vw;
        padding: 10px;
        text-align: left;
        cursor: pointer;
        color: rgb(27, 27, 27);
        font-size: larger;
    }
    .accordion-ta:hover{
        background-color: rgb(54, 54, 56);
    }
    form > button{
        border-radius: 15%;
        
        
    }
    .footer{ background-color: black;
        color: aliceblue;
        margin-top: 2px; 
       display: flex;
       justify-content: space-around;
       margin-top: 3px;
     
    }
      
   
 

 